* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body,
input,
button {
   font-family: "Poppins", sans-serif;
}

body {
   overflow-x: hidden;
}

img {
   width: 100%;
}

a {
   text-decoration: none;
}

p {
   color: #646464;
}

.mt-10 {
   margin-top: 1rem;
}

.img-desk {
   display: none;
}

.wrap {
   padding: 0 2%;
   max-width: 1400px;
   margin-inline: auto;
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
   margin-top: 2rem;
   background: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(2px);
   -webkit-backdrop-filter: blur(2px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
   z-index: 10;
   position: sticky;
   top: 2rem;
   gap: 1rem 0;
}

nav {
   display: flex;
   gap: 1rem;
}

nav a {
   color: #3C3C3C;
}

nav .button {
   display: none;
}

main {
   margin-top: 3rem;
   text-align: center;
}

.container-title {
   position: relative;
   max-width: 600px;
   margin-inline: auto;
}

.title {
   font-size: 2rem;
   line-height: 1.2;
   font-weight: 600;
}

.sub-title {
   margin-top: 1rem;
}

nav {
   display: flex;
   align-items: center;
}

.container-title .img {
   position: absolute;
   width: 12rem;
   display: none;
}

.button {
   display: inline-block;
   background: rgb(43, 253, 116);
   background: linear-gradient(0deg, rgba(43, 253, 116, 1) 15%, rgba(197, 249, 215, 1) 100%);
   padding: .6rem;
   padding: .5rem 1.5rem;
   border-radius: 2rem;
   color: #000000;
   font-weight: 500;
}

main .button {
   margin-top: 2rem;
}

main .label {
   margin: 0 auto 1rem;
   font-size: 1rem;
   background: rgb(197 249 215 / 20%);
}

.container-title .img:nth-child(2) {
   left: -11rem;
   top: -7rem;
}

.container-title .img:nth-child(3) {
   left: -12rem;
   width: 11rem;
   bottom: -9rem;
}

.container-title .img:nth-child(4) {
   top: -5rem;
   right: -11rem;
   width: 11rem;
}

.container-title .img:nth-child(5) {
   right: -15rem;
   bottom: -8rem;
}

.main-banner {
   margin: -8rem auto 0;
   max-width: 1400px;
   position: relative;
   z-index: -1;
}

.swiper-pagination {
   position: static;
}

.tool {
   background: linear-gradient(0deg, rgb(255, 255, 255) 0%, hsl(144 80% 97% / 1) 100%);
}

.wrap-in {
   max-width: 800px;
   margin: 0 auto;
}

.text-tool {
   text-align: center;
   padding: 5rem 0 3rem;
}

.mySwiper {
   max-width: 600px;
   text-align: center;
}

.swiper-wrapper {
   overflow: unset;
}

.swiper-slide p {
   margin-top: 1rem;
}

.swiper-slide .input-text {
   width: 100%;
   padding: 1rem;
   border-radius: 1rem;
   border: 1px solid #94FFB9;
   box-shadow: -6px 4px 1rem 1px rgb(111 200 252 / 31%);
   margin-top: 2rem;
   display: flex;
   padding-bottom: 7rem;
   background: #fff;
   position: relative;
}

.swiper-slide .button {
   margin-top: 2rem;
}

.text {
   max-width: 500px;
}

.label:before {
   content: '';
   --WW: 1rem;
   width: var(--WW);
   height: var(--WW);
   background: url(../img/circle.svg)center/contain no-repeat;
}

.label {
   padding: .2rem 2rem .2rem 1rem;
   border-radius: 2rem;
   display: flex;
   align-items: center;
   width: fit-content;
   gap: .5rem;
   color: #353535;
   font-size: .9rem;
}

.label-yellow {
   background: rgba(255, 200, 0, 0.2);
}

.label-blue {
   background: rgba(61, 203, 255, 0.2);
   margin-bottom: 2rem;
}

.label-blue-d {
   background: #E6F5F6;
   margin-inline: auto;
}

.how-works {
   background: rgb(253, 250, 245);
   background: linear-gradient(0deg, rgba(253, 250, 245, 1) 0%, rgba(253, 251, 247, 1) 46%, rgba(255, 255, 255, 0) 100%);
   padding-bottom: 4rem;
}

.title-min {
   font-size: 2.5rem;
   font-weight: 400;
   line-height: 1;
   margin-top: 1rem;
   color: #1A1A1A;
   margin-bottom: 2rem;
}

.title-min strong {
   font-style: italic;
   font-weight: 700;
}

.row-img {
   display: grid;
   grid-template-columns: 2.5fr 1fr;
   gap: 2rem;
   margin-top: 2rem;
}

.img {
   position: relative;
}

.img-1 .img-bubble {
   position: absolute;
   max-width: 21rem;
   left: -5rem;
   bottom: 0;
}

.img-2 .img-bubble {
   position: absolute;
   top: -9rem;
   right: -4rem;
}

.row-2 {
   display: grid;
   gap: 2rem;
   align-items: center;
   margin-top: 7rem;
}

.img-3 .img-bubble {
   position: absolute;
   top: -7rem;
   right: -4rem;
   max-width: 22rem;
}

.list {
   display: grid;
   list-style: none;
   margin-top: 4rem;
}

.list li {
   max-width: 14rem;
}

.icon-list {
   max-width: 3.5rem;
}

.title-list {
   font-weight: 700;
   color: rgba(0, 0, 0, 0.8);
}

.p-list {
   color: rgba(0, 0, 0, 0.6);
   margin-top: .5rem;
}

.bold {
   font-weight: 700;
}

.form-group {
   position: relative;
   transition: all ease-in-out 100ms;
   outline: none;
}

.form-check-input {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   opacity: 0;
}

.row-img-q {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2rem;
   margin-top: 2rem;
}

.form-group:hover {
   background: rgb(197 249 215 / 20%);
}

.row-img-q .form-group input:checked+label {
   border: 1px solid #C5F9D7;
   background: rgb(197 249 215 / 20%);
   display: block;
   padding: 1rem;
   border-radius: 1rem;
   box-shadow: 13px -12px 13px rgb(197 249 215 / 20%);
   font-weight: 600;
}

.form-check-label {
   outline: none;
}

.swiper-slide {
   color: rgba(0, 0, 0, 0.9);
}

#respuesta-slide {
   text-align: left;
}

#result-container {
   margin-top: -3rem;
}

#result-container p {
   margin: 0;
}

#respuesta-slide .button {
   position: absolute;
   bottom: -1rem;
   left: 50%;
   transform: translateX(-50%);
   border: none;
}

.copy-text {
   text-align: center;
   width: fit-content;
   margin: 4rem auto 0 !important;
   padding: .6rem 1rem;
   color: #3f3838;
   border-radius: 1.4rem;
   opacity: 0;
   transition: 300ms opacity ease-in-out;
}

.copy-text.show {
   opacity: 1;
}

.foot img {
   width: 100%;
}

footer {
   display: grid;
   align-items: end;
}

.row-foot {
   display: grid;
   grid-template-columns: 8rem auto;
   align-items: center;
   gap: 3rem;
   justify-content: space-between;
   margin-bottom: 2rem;
}

.row-foot p {
   color: #000;
   font-weight: 600;
}

.wrap-text {
   max-width: 80%;
   margin: 0 auto;
}

.text-foot {
   padding-bottom: 4rem;
   order: -1;
}

@media(min-width: 768px) {
   .img-desk {
      display: block;
   }

   .img-mb {
      display: none;
   }

   .title {
      font-size: 3rem;
   }

   .container-title .img {
      display: block;
   }

   header {
      justify-content: space-between;
      flex-direction: row;
   }

   nav .button {
      display: block;
   }

   .how-works {
      margin-top: -7rem;
   }

   .row-2 {
      grid-template-columns: 1fr 1.5fr;
   }

   .list {
      grid-template-columns: repeat(3, 1fr);
   }

   footer {
      grid-template-columns: 25rem auto;
   }

   .text-foot {
      order: initial;
   }

   .main {
      margin-top: 10rem;
   }
}


.bottom {
   height: 800px;
}